body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #222831;
  }
  h1, p, h2, h3, h4, h5, h6, .table {
    color: #EEEEEE
  }
  
  header {
    background-color: #393E46;
    color: #fff;
    padding: 20px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  li {
    margin: 0 10px;
  }
  
  .header-links {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  section {
    margin: 40px 0;
  }
  
  h1 {
    font-size: 36px;
  }
  
  footer {
    background-color: #393E46;
    color: #fff;
    padding: 10px;
    text-align: center;
  }

  .hero {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hero-content {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .hero-content p {
    font-size: 24px;
    margin-bottom: 40px;
  }
  
  .cta-button {
    background-color: #fff;
    color: #333;
    font-size: 24px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .cta-button:hover {
    background-color: #333;
    color: black;
  }
  
  .centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    max-width: 800px;
    text-align: center;
    color: #EEEEEE;
  }
  
  table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #393E46;
  }
  
  